*{
    box-sizing: border-box;
    padding: 0%;
    margin:  0;
    
}
html{
  /* width: 90%  ;
  margin:  0  auto ;
  background-color: #19152B; */
}
.body_1 {
  width: 100%  ;
  margin:  0  auto ;
  background-color: #19152B;

}
.style_mian{
    width: 90%  ; 
    margin:  0  auto ;
    background-color: #19152B;
}

/* Navbar styles */
.na_0{
  width: 100% ;
  margin:  0 auto;
  position:sticky; ;
  top: 0;
  z-index:4 ;
  overflow: hidden;

  background-color: #19152B;
  
}
.navbar {
    width: 85% ;
    margin:  0 auto;
    background-color: #19152B;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    /* position: fixed;
    top: 0;
    z-index:4 ; */

}
.navbar img {
  height: 40px;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  /* margin-right: 10px; */
}
      
.navbar ul li a {
  color: white;
  text-decoration: none;
}


ul{
    display: flex;
    gap: 2.5rem;
}
li{
    display: block;
    transition:.1s;
}

ul:hover li{
    filter: blur(1px);
}
ul li:hover{
    filter: blur(0px);
}


/*---->>>home<<<----*/
.container_1{
    display: flex;
    width: 100%;
    height: 80vh;    
    border-right:  1px dashed rgb(213,33,58);
}
.text_1{
    width: 50%;
    padding-top: 15%;
    padding-left: 3rem;
    
    color: white  ;
    & .welcmoe{
      display: inline-block;
      background-color: rgb(82,24,46);
      padding: 0.5rem;
      border-radius:10%;
    }
    & h1 {
      font-size: 50px;
    }
}
.button {
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(213,33,58);
}

.me{
    width: 50%;
    
    & img{
      display: flex;
      width: 80%;
      z-index: 3;
      align-items:center;
      margin-left: 2.3rem;
      border-radius: 30%;
      margin-bottom: 1rem;
    }
    
} 
.circle1 {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: rgb(213,33,58);
    z-index: 2;
    display: flex;
    align-items:end;
  }
  
  .circle2 {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: rgb(82,24,46);
    z-index: 1;
    display: flex;
    align-items:end;
  
  }
  .circle3 {
    width: 95%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(73, 19, 35);
    z-index: 0;
    display: flex;
    align-items:end;
    
  }
.circls{
  width: 90%;
  height: 90%;
  align-items:end;
  display: flex; 
  position: relative;
}

/*  education  */
html{
  #education{
  width: 100%;
  background-color: rgb(42,35,68);
}
}
.education_section{
  
  width: 100%;
  height: auto;
  padding-top: 3rem ;
  padding-bottom: 3rem;
  
}
/* education image section  */
.image_cont{
  width: 75%;
  display: flex;
  justify-content: space-around;
  padding: 3rem !important;

}
/* end education image section  */

h2{
  text-align: center;
  color: white ;
  padding-top: 1rem ;
  padding-bottom: 2rem;
}

.card-container {
  display: flex;
  
  justify-content: space-around;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin-right: 10px;
  background-color: #000000;
  padding-bottom: 2.2rem;
  & h4 , p {
    color: white;
    padding-left: 0.5rem;
  }
}

/*  education section  */

.experience{
    display: flex; 
    width: 100%;
    height: auto; 
}

/*  experience  */
.xpee{
  display: flex; 
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding-bottom: 2.5rem;
 
  & div {
    width: 20%;
    color: white;
    justify-content: center;
    text-align: center;
   
    & img{
      width: 70%;
    }
  }
}

/*  procjects  */

.procject_style{
  width: 100%;
  height: auto;
  
  padding-top: 3rem ;
  padding-bottom: 3rem ;
  background-color: rgb(42,35,68);

}

.card-container2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;


}

.card3 {

  width: 35%;
 
}
.container_proj{
  width: 50%;
  text-align: left;

& h4 , p {
    color: white;
    padding-left: 0.5rem;
  }
}

/* contaces */
#contact{
  width: 90%;
  margin: 0 auto ;
  
}
.contact_style{
border-right: 1px dashed rgb(213,33,58);
}
.contact_us{
  width: 85%;
  height: auto;
  margin: 0 auto ;
  color: white ;
  display: flex;
  justify-content: space-between;
  & p{
    margin: 1.0rem ;
  }
}

.my_c {
  width: 50%;
  & i{
  background-color:rgb(215,34,58) ;
  padding: 0.5rem;
  border-radius:50%;
  font-size:larger;
  }
  
}
.styl_icon{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}



/*-----  end line  ------*/


.end_style{
  color: rgb(215,34,58);
  width: 50%;
  justify-content: center;
  text-align: center;
  & i {
    font-size:35px ;
   margin-left: 2rem;
  }
  
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  
  .body_1{
    width: 100%  ;
    margin:  0  auto ;
  }

  .style_mian{
    width: 85%  ;
    margin:  0 auto;
    
  }
  .na_0{
    width: 100% ;
    margin:  0 auto;
  }
  .navbar {
      
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .navbar img {
    /* margin-bottom: 10px; */
  }
  
  .navbar ul {
    flex-direction: row;
    font-size: 1rem; 
    display: flex;
    gap: 0.5rem;

  }
  
  .container_1{
    width: 100%;
    height: auto ;
    display: block;
    justify-content: center;
      align-items: center;
    & .text_1{
      width: 100%;
      margin: 0 auto;
      display: inline-block;
      justify-content: center;
      align-items: center;
    & h1 {
      font-size: 30px;
    }
    & p{
      font-size: 15px;
    }
    & .me{
      width: 100%;
      height:auto;
      margin: 0 auto;
    }

  }
  .card-container{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-left: 30%;
  }
 
}


/* animation   */ 
.xpee img.animate {
  transition: transform 0.3s;
}

.xpee img.animate:hover {
  animation: bounceAnimation 0.5s;
}

@keyframes bounceAnimation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

